@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  table {
    font-size: 0.85rem !important;
  }

  td,
  th {
    padding: 0.8rem !important;
  }
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
  }
}
